html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: "Noto Sans", sans-serif;
    background-image: var(--body-color);
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    body {
        background: gainsboro;
    }
}

/* body,
html {
    overflow: hidden;
} */

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --background-color: #000000;
    --list-card-color: #58b4d6;
    --weather-card-color: #5ccef3;
    --weather-subcard-color: #72d9f5;
    --task-card-color: linear-gradient(to bottom right, #4caf50, #ffc107);
    --btn-color: #FDFDFD;
    --body-color: linear-gradient(to bottom right,
            #3498db,
            #c0392b);
    --text-color: #000000;
}

[theme="dark"] {
    background-color: #16171d !important;
    --text-color: #fff;
    --weather-card-color: #828687;
    --weather-subcard-color: #a0a7a9;
    --list-card-color: #828687;
    --task-card-color: linear-gradient(to bottom right, #999999, #67645c);
    /* Add color transition */
}

[theme="light"] {
    background-color: #f4f4f4 !important;
    color: #000;
    /* Change color to match light mode */
    transition: background-color 2s ease, color 2s ease;
    /* Add color transition */
}